<div class="profile-container">
  <div class="header">
    <h1>User Profile</h1>
  </div>

  <div class="profile-card">
    <div class="profile-image"><img src="https://tse4.mm.bing.net/th/id/OIP.p_yVJpMf6hUETy-glD0MQQHaLG?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" alt="" class="profile-image"/></div>

    <div class="profile-info">
      <label>Name:</label>
      <input [(ngModel)]="user.name" type="text" />

      <label>Email:</label>
      <input [(ngModel)]="user.email" type="email" />

      <label>Phone:</label>
      <input [(ngModel)]="user.phone" type="text" />

      <label>Address:</label>
      <input [(ngModel)]="user.address" type="text" />

      <label>Bio:</label>
      <textarea [(ngModel)]="user.bio"></textarea>

      <div class="buttons">
        <button class="mat-button1" (click)="onSave()">Save</button>
        <button class="mat-button" (click)="onLogout()">Delet Account</button>
      </div>
    </div>
  </div>
</div>